spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/gestaoescolar
    username: postgres
    password: matheus
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true

server:
  port: 8080
